#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_kscan";
        diode-direction = "col2row";

        col-gpios
               = <&gpio0 9 GPIO_ACTIVE_HIGH> // Col_0 009/D10
               = <&gpio0 10 GPIO_ACTIVE_HIGH> // Col_1 010/D16
               = <&gpio1 11 GPIO_ACTIVE_HIGH> // Col_2 111/D14
               , <&gpio1 13 GPIO_ACTIVE_HIGH> // Col_3 113/D15
               ;

        row-gpios
               = <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_0 106/D9
               , <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_1 104/D8
               , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_2 011/D7
               , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_3 100/D6
               ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
                RC(0,0) RC(0,1)
                RC(1,0) RC(1,1)
              >;
    };
};
