#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
               = <&pro_micro 20 GPIO_ACTIVE_HIGH> // Col_0 029/D20
               , <&pro_micro 16 GPIO_ACTIVE_HIGH> // Col_1 010/D16
               ;

        row-gpios
               = <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_1 113/D15
               , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_0 009/D10
               ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
                RC(0,0) RC(0,1)
                RC(1,0) RC(1,1)
              >;
    };
};
