#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
               = <&gpio0 20 GPIO_ACTIVE_HIGH> // Col_0
               , <&gpio0 16 GPIO_ACTIVE_HIGH> // Col_1
               ;

        row-gpios
               = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_1
               , <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row_0
               ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <2>;
        map = <
                RC(0,0) RC(0,1)
                RC(1,0) RC(1,1)
              >;
    };
};
